{% extends 'base.html' %}
{% block container %}
  <main class="container mt-3">
    <h1 class="display-5 mt-4">Летим {{ departure }}</h1>
    <p class="mb-4">Найдено {{ count }} туров, от {{ price_min }} до {{ price_max }} и от {{ nights_min }} ночей до {{ nights_max }} ночей</p>
    <!-- CARDS -->
    <div class="row mt-5">
        {% for tour_id, tour in tours %}
      <div class="col-4">
        <div class="card mb-4">
          <img src="{{ tour.picture }}" class="card-img-top img-fluid" alt="">
          <div class="card-body">
            <h2 class="h5 card-title">{{ tour.title }}</h2>
            <p class="card-text">{{ tour.description }}</p>
            <a  class="btn btn-sm btn-primary" href={% url 'tour' tour_id %}>Подробнее</a>
          </div>
        </div>
      </div>
        {% endfor %}
    </div>
  </main>
{% endblock %}